@font-face {
  font-family: openSansBold;
  src: url('fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: vt;
  src: url('fonts/VT323-Regular.ttf');
}

body {
  background-color: #9DD1FB;
  color: #fff;
  font-family: openSansBold;
  font-weight: bold;
  min-height: 100vh;
  position: relative;
}

h1 {
  color: #F15946;
  font-family: vt;
  font-size: 75px;
  margin-top: 5vh;
}

h2 {
  color: #F15946;
  font-family: vt;
  font-size: 45px;
}

h4 {
  margin-top: 20vh;
}

p {
  font-size: 18px;
}

a:link {
  color: #F15946;
  transition-duration: 0.4s;
}

a:visited {
  color: #F15946;
}

a:hover {
  color: #fff;
}

input[type=text] {
  border: none;
  border-radius: 0;
  color: #F15946;
  font-family: vt;
  font-size: 20px;
  height: 3vh;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type=submit] {
  background-color: #F15946;
  border-radius:0;
  border: none;
  color: white;
  font-family: vt;
  font-size: 25px;
  padding: 10px 20px;
  transition-duration: 0.4s;
  -webkit-appearance: none;
  -webkit-border-radius:0;
}

input[type=submit]:hover {
  background-color: white;
  border: none;
  border-radius:0;
  color: #9DD1FB;
  font-family: vt;
  padding: 10px 20px;
  -webkit-appearance: none;
  -webkit-border-radius:0;
}

.content {
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
