@font-face {
  font-family: openSansBold;
  src: url('fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: vt;
  src: url('fonts/VT323-Regular.ttf');
}

body {
  background-color: #9DD1FB;
  color: #fff;
  font-family: openSansBold;
  font-weight: bold;
  min-height: 100vh;
  position: relative;
}

h1 {
  color: #F15946;
  font-family: vt;
  font-size: 75px;
  margin-top: 5vh;
}

h2 {
  color: #F15946;
  font-family: vt;
  font-size: 45px;
}

h4 {
  margin-top: 20vh;
}

p {
  font-size: 18px;
}

a:link {
  color: #F15946;
  transition-duration: 0.4s;
}

a:visited {
  color: #F15946;
}

a:hover {
  color: #fff;
}
