<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Degrees of Separation</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='styles/images/apple-touch-icon.png') }}"/>
  </head>
  <body>
    <div class="content">
      <div class="hero-text">
          <h1> Degrees of Separation</h1>
      </div>
      <div class="form-container">
        <form method="post" action="/degrees">
          <input type="hidden" id="actor-one" name="actor-one" value="{{actor1}}">
          <input type="hidden" id="actor-two" name="actor-two" value="{{actor2}}">
          <input type="hidden" id="duplicate" name="duplicate" value="{{number}}">
          <div class="confirmation-container">
            <div class="confirmation">
              <p>{{confirmation}}</p>
              <input type="text" id="{{confirmed}}" name="{{confirmed}}" placeholder="Enter ID" required><br>
            </div>
          </div><br><br>
          <input type=submit name="action" value="Confirm ID">
        </form>
        <p>{{errors}}</p>
        <div class="footer"></div>
      </div>
    </div>
  </body>
</html>
