<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Degrees of Separation</title>
      <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style.css') }}">
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='styles/images/apple-touch-icon.png') }}"/>
  </head>
  <body>
    <div class="content">
      <div class="hero-text"> 
        <a href="https://en.wikipedia.org/wiki/Six_degrees_of_separation" target="_blank">
          <h1>Degrees of Separation</h1>
        </a>
        <h3>
        </h3>
      </div>
      <div class="form-container">
        <h3>Please enter the names of two actors</h3><br>
        <form class="name-form" method="post" action="/degrees">
          <input type="text" id="actor-one" name="actor-one" placeholder="Actor 1" required><br><br>
          <input type="text" id="actor-two" name="actor-two" placeholder="Actor 2" required><br><br>
          <input type=submit name="action" value="Find degrees"><br><br>
        </form>
        <p>{{confirmation}}</p>
        <p>{{errors}}</p>
      </div>
      <div class="footer"></div>
    </div>
</body>
</html>
